/* Main Nav */
.main-nav {
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;/*makes the nave stay at the top*/
    top: 0;/*starting position of stick*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	height: 50px; 
}
/*Gray lines inbetween nav items*/
.vertical_line{
	background-color: rgba(119, 136, 153, 0.473);
	width: 1px;
	height: 45px;
	margin-top: 2px;
}
/*Centers the text in the boxes on the nav bar*/
li{
	display: flex;
	align-items: center;
}
/*Hover turns the nav items gray*/
li:hover{
	background-color: rgb(31, 31, 31);
}
/*Aligns text horizontally parallel*/
.main-nav .main-menu {
    list-style: none;
    display: flex;
    padding: 0;
}
/*Properly spaces out the text in the nav bar*/
.main-nav .main-menu li {
	height: 50px;
    padding-left: 5px;
	padding-right: 5px; /*distance between .main-menu items*/
	/*changed this from margin to padding to make hover box stretch to the lines*/
}
/*Removes hyperlink underline, colours the nav text white and changes the font size*/
.main-nav .main-menu a {
    text-decoration: none;
    color: #e9e7e7;
    font-size: 18px;
}
/*Changes nav text to blue when you hover the text*/
.main-nav .main-menu a:hover {
    color: #22d3ee;
}
/*Sizes and centers the nav bar logo*/
header .logo {
    height: 40px; /* image fits the nav */
	display: flex;
}

/* this week at Respawn Tavern */
.welcome_text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1px;
}
.welcome_text h2{
	font-size: 40px;
	font-family: 'Courier New', monospace;
}
.welcome_logo{
	margin-top: -85px;
	height: 278px;
	width: 495px;
}
.welcome_text h1{
	margin-top: -10px;
	font-size: 100px;
}

/*margin 0 so the nav sticks to the top, and background colour of the whole website being set*/
body{
	margin: 0;
	background-color: limegreen;
}
/*End of nav*/

/* boxes containing event details (boxes going down the screen) */
div.main_container {
	padding-top: 20px;
    width: 1200px;
	display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(1, 50px);
	justify-content: center;
	align-content: center;
	margin: auto;
}
.item-1:hover{
	transform: translateY(-1px);
	box-shadow: 0px 6px 12px black;
}
.item-1 {
	border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #222222;
	width: 85%;
	margin: auto;
	height: 200px;
}
.item-2{
	border-radius: 10px;
    grid-row-start: 4;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: #222222;
	width: 85%;
	margin: auto;
	height: 200px;
}
.item-2:hover{
	transform: translateY(-1px);
	box-shadow: 0px 12px 24px black;
}
.event_teamlogos{
	height: 100px;
	width: 100px;
}
.logo-1{
	margin-top: 2px;
	margin-left: 28px;
	float: left;
	height: 100px;
	width: 100px;
}
.logo-2{
	margin-top: -11px;
	margin-right: 28px;
	float: right;
	height: 130px;
	width: 130px;
}
.vs{
	margin-top: 2px;
	margin-left: 75px;
	height: 100px;
	width: 100px;
}
.line{
	height: 1px;
	width: 450px;
	background-color: white;
	margin-bottom: 45px;
	margin-left: auto;
	margin-right: auto;
}


