/* match nav bar and logo to new nav */

/* logo and nav bar */
nav.horizontalNav {
	background: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flow-root;
}
.logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.logo_header {
	width: 100%;
	height: 150px;
	background-color: limegreen;
	position: relative;
    padding-bottom: 10%;
}
body {
    background-color: limegreen;
    background-size: cover;
}
ul {
    display: flow-root;
    padding: 0px;
    margin: 0px;
}
li {
	list-style-type: none;
	float: left;
	font-size: 1.3em;
	padding: 1em 0em 1em 0em;
	width: 25%;
	text-align: center;
    color: green;
}

li:hover {
	background: green;
	color: white;
}

/* this week at Respawn Tavern */
.welcome_text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1px;
}
.welcome_text h2{
	font-size: 40px;
	font-family: 'Courier New', monospace;
}
.welcome_logo{
	margin-top: -85px;
	height: 278px;
	width: 495px;
}
.welcome_text h1{
	margin-top: -10px;
	font-size: 100px;
}

/* boxes containing event details (boxes going down the screen) */
div.main_container {
	padding-top: 20px;
    width: 1200px;
	display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(1, 50px);
	justify-content: center;
	align-content: center;
	margin: auto;
}
.item-1 {
	border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #222222;
	width: 85%;
	margin: auto;
	height: 200px;
}
.item-2{
	border-radius: 10px;
    grid-row-start: 4;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: #222222;
	width: 85%;
	margin: auto;
	height: 200px;
}
.event_teamlogos{
	height: 100px;
	width: 100px;
}
.logo-1{
	margin-top: 2px;
	margin-left: 28px;
	float: left;
}
.logo-2{
	margin-top: 2px;
	margin-right: 28px;
	float: right;
}
.vs{
	margin-top: 2px;
	margin-left: 75px;
	height: 100px;
	width: 100px;
}


