@charset "utf-8";

body {
background-color: limegreen;
background-size: cover;
}


.logo {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.logo_header {
	width: 100%;
	height: 150px;
	background-color: limegreen;
	position: relative;
    padding-bottom: 10%;
}

nav.horizontalNav {
	background: black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flow-root;
}

ul {
	display: flow-root;
	padding: 0px;
	margin: 0px;
}

li {
	list-style-type: none;
	float: left;
	font-size: 1.3em;
	padding: 1em 0em 1em 0em;
	width: 25%;
	text-align: center;
    color: white;
}

li:hover {
	background: green;
	color: white;
}

h1 {
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 85px;
    font-family: fantasy, 'Times New Roman';
}

#tavern {
    width: 90%;
    height: 90%;
    margin-top: 10px;
    border-radius: 10px; 
    border: 5px solid black;
}

#burger {
    width: 85%;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px; 
    border: 5px solid black; 
}

#beer {
    width: 85%;
    height: auto;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 10px; 
    border: 5px solid black; 
}


.content {
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.column {
    width: 48%; 
    background-color: #222222; 
    padding: 20px;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.column:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 12px 24px black; 
}

.column h2 {
    font-size: 2.1rem;
    color: limegreen; 
    margin-bottom: 15px;
}

.column p {
    font-size: 1.8rem;
    margin-top: 10px;
    color: white; 
}

.full-width-row {
    width: 97%;
    background-color: #222222; 
    padding: 20px;
    text-align: center;
    box-shadow: 0px 6px 12px rgba(2, 2, 2, 0.2); 
    margin-top: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.full-width-row:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3); 
}

.full-width-row h2 {
    font-size: 2.1rem;
    color: limegreen; 
    margin-bottom: 15px;
}

.full-width-row p {
    font-size: 1.8rem;
    margin-top: 10px;
    color: white; 
}

h2 {
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 75px;
    font-family: fantasy, 'Times New Roman';
}

footer {
    text-align: center;
    font-weight: bold;
}